/* Styling The Background */
body {
    background-image: url("images/concert-landing-page-background.jpg");
    /* Uncomment for logo */
    /* background-image:
        url(images/concert-landing-page-background-overlay.png),
        url(images/concert-landing-page-background.png); */
}

/* Styling The Heading */
#content {
    margin-top: 200px;
}

#content .lead {
    font-size: 1.5vw;
}

#content hr {
    border-top: 1px solid whitesmoke;
    width: 35%;
}

@media (max-width: 992px) {
    #content .lead {
        font-size: 2.5vw;
    }
    
    /* Uncomment for logo */
    /* .songoholic-logo {
        display: none;
    }

    body {
        background-image: url(images/concert-landing-page-background.png);
    } */
}