/* Styling The Background */
body {
    background-image: url("images/drums.jpg");
}

/* Styling opening heading */
.opening-text {
    font-size: 30px;
}

/* Styling The Table */
#content table {
    background-color: whitesmoke;
}

#content table td {
    text-align: center;
}

#content table th {
    text-align: center;
}

tr {
    line-height: 50px;
    text-align: center;
}
.song-image {
    width: 50px;
    border-radius: 5px;
    float: left;
}