/* Styling The Background */
body {
    background-image: url("images/violin-image.jpg");
}

/* Styling The Table */
#content table {
    background-color: whitesmoke;
}

#content table td {
    text-align: center;
}

#content table th {
    text-align: center;
}