{% extends "base.html" %}

{% block css_link %}
{% load static %}
<link rel="stylesheet" href="{% static 'CSS/songs-info.css' %}?{% now 'U' %}">
{% endblock css_link %}

{% block content %}
<section id="content">
    <div class="container mt-5">
        <h1 class="display-1 text-center text-white">Songs Info</h1>
        <form method="post" action="{% url 'songs-info' %}">{% csrf_token %}
            <div class="form-group row justify-content-center">
                {{ form }}
                <button type="submit" class="btn btn-success mt-3">Get Info</button>
            </div>
        </form>
    </div>
</section>
{% endblock content %}