{% extends "base.html" %}

{% block css_link %}
{% load static %}
<link rel="stylesheet" href="{% static 'CSS/songs-info.css' %}">
{% endblock css_link %}

{% block content %}
<section id="content">
    <div class="container mt-5">
        <h1 class="display-1 text-center text-white">Songs Info</h1>
        <form>
            <div class="form-group row justify-content-center">
                <label for="song-input" class="text-white">Song</label>
                <input type="text" class="form-control" id="song-input" placeholder="Enter Song Name" name="song-input">
                <button type="submit" class="btn btn-success mt-3">Get Info</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}