{% extends "base.html" %}

{% block css_link %}
{% load static %}
<link rel="stylesheet" href="{% static 'CSS/top-100.css' %}">
{% endblock css_link %}

{% block content %}
<section id="content">
    <div class="container mt-5">
        <h1 class="display-1 text-center text-white">Billboard Hot 100</h1>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Song</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Last Week</th>
                    <th scope="col">Peak</th>
                    <th scope="col">Weeks On Chart</th>
                </tr>
            </thead>
            <tbody>
                {% for song in data %}
                <tr>
                    <td scope="row">{{ song.rank }}</td>
                    <td>{{ song.song_name }}</td>
                    <td>{{ song.artists }}</td>
                    <td>{{ song.peak_rank }}</td>
                    <td>{{ song.weeks_on_chart }}</td>
                    <td>{{ song.rank_last_week }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}