{% extends "base.html" %}

{% block css_link %}
{% load static %}
<link rel="stylesheet" href="{% static 'CSS/landing-page.css' %}?{% now 'U' %}">
{% endblock css_link %}

{% block content %}
<section id="content">
    <!-- <div class="row mx-0"> -->
    <div class="mx-0">
        <!-- <span class="col-lg-8"> -->
            <h1 class="display-1 text-white text-center mt-5">Songoholic</h1>
            <hr class="mt-5">
            <p class="lead text-white text-center">
                For The Love Of Music
            </p>
        <!-- </span> -->
        <!-- <span class="col-lg-4">
            <img src="{% static 'CSS/images/songoholic-logo-cropped.png' %}" alt="" class="songoholic-logo img-fluid">
        </span> -->
    </div>
</section>
{% endblock content %}